<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <form class="form" action="" method="POST">
    <div class="form_content">
      <div class="form_header">Login</div>
      <input class="form_input" type="email" name="email" placeholder="enter your email">
      <input class="form_input" type="password" name="password" placeholder="enter your password">
      <button class="form_button" type="submit">Login</button>
      <div class="form_links">
        <a href="" class="form_link">Register</a>
      </div>
    </div>
  </form>
</body>
</html>