<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product page</title>
</head>
<body>
  <h2>Products</h2>
  {# block body #}
  <table border="1">
    <th>ID</th>
    <th>Product</th>
    <th>SKU</th>

    {# This is a comment #}
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
  </table>
  {# endblock #}
  <div class="form_links">
    <a class="form_link" href="{{url_for('logout')}}"></a>
  </div>
</body>
</html>