<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="">
  <title>register</title>
</head>
<body>
    <form class="form" action="" method="POST">
      <input class="form_input" type="email" name="email" placeholder="enter your email">
      <input class="form_input" type="password" name="password" placeholder="password">
      <button class="form_button" type="submit">Register</button>
  </form>
      <div class="form_links">
        <a href="" class="form_link">Login</a>
      </div>
</body>
</html>